<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户主页</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/homework.css' %}">
</head>


<body>
<div style="background-color: rgba(162,211,236,0.22)">
    <div class="home">
        <div class="introduce">
            <div class="introduce_item">
                <img class="introduce_item_img" style="width: 500px;height: 200px;" src="{% static "img/web.png" %}"
                     alt="">
            </div>

            <div class="introduce_item">
                <span class="introduce_item_titles" style="font-size: 34px;padding-right: 100px;">寻找账号密码文本框的位置</span>
                <img class="introduce_item_img" src="{% static "img/web2.png" %}" alt="">
            </div>
            <div class="introduce_item">
                <img class="introduce_item_img" src="{% static "img/web1.png" %}" alt="">
                <span class="introduce_item_titles"
                      style="font-size: 34px;padding-left: 100px;">寻找登录按钮的位置，复制其xpath</span>
            </div>

        </div>
    </div>
    <div class="about" style="display: flex;justify-content: center;margin-top: 60px;">
        <div style="width: 300px;height: 120px;margin-top: 150px;">
            <img src="{% static "img/web3.png" %}" alt="">
            <a href="/webCode/"><img src="{% static "img/web4.png" %}" alt=""></a>

        </div>
        <div class="videos">
            <video width="800" controls id="video" preload="auto" height="100%" autoplay="autoplay" loop="loop"
                   type="video/mp4" src="{% static "img/1.mp4" %}"></video>
        </div>
    </div>

</div>
</body>


</html>